.main-button {
  /* background-color: rgb(214, 95, 6); */
  color: rgb(255, 255, 255);
  min-height: 100px;
  min-width: 300px;
  max-width: 350px;
  font-size: 36px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
}

.orange {
  background-color: rgb(214, 95, 6);
}

.gray {
  background-color: rgb(174, 174, 174);
}
